@inherits LuanNiao.Blazor.Core.LNBCBase
@using LuanNiao.Blazor.Component.Antd.Icons
@using Microsoft.AspNetCore.Components.Web
@using LuanNiao.Blazor.Component.Antd.Tooltip


<div class="@ClassName" id="@($"maindiv_{IdentityKey}")">
    <div class="ant-slider-rail"></div>
    <div class="ant-slider-track" style="@_sliderTrackStyle">
    </div>
    <div class="ant-slider-step">
    </div>

    <div id="@($"righthandle_{IdentityKey}")" class="ant-slider-handle" role="slider" style="@_rightHandleStyle">
        <LNTooltip CStyle="width:100%;height:100%" Placement="PlacementType.Right" InsideOfTarget="true">
            <Title>asd</Title> 
        </LNTooltip>

    </div>
    <div class="ant-slider-mark">
    </div>
</div>