@page "/button"
@using LuanNiao.Blazor.Component.Antd.Button
@using LuanNiao.Blazor.Component.Antd.Icons
@using LuanNiao.Blazor.Component.Antd.Grid 


<LNButton Type="LNButton.BType.Primary">Primary</LNButton>
<LNButton>Default</LNButton>
<LNButton Type="LNButton.BType.Dashed">Dashed</LNButton>
<LNButton Type="LNButton.BType.Link" OnClickCallback="@((_) => { Console.WriteLine("再来"); })">Link</LNButton>


<LNButton Size="LNButton.BSize.Large" OnClickCallback="@((_) => { Console.WriteLine("abc"); })">
    <Icon>
        <DownloadOutlined />
    </Icon>
    <ChildContent>
        Large
    </ChildContent>
</LNButton>
<LNButton Size="LNButton.BSize.Large" Type="LNButton.BType.Primary"></LNButton>

<LNButton Size="LNButton.BSize.Large" Type="LNButton.BType.Primary"><DownloadOutlined></DownloadOutlined></LNButton>



<LNButton Size="LNButton.BSize.Middle">Middle</LNButton>
<LNButton Size="LNButton.BSize.Small">
    <Icon>
        <AccountBookOutlined />
    </Icon>
    <ChildContent>
        Small
    </ChildContent>
</LNButton>

<LNButton Type="LNButton.BType.Primary" Danger="true" Href="http://www.baidu.com" Target="_blank"> 
</LNButton>

<LNButton Type="LNButton.BType.Primary" Size="LNButton.BSize.Large"><DownloadOutlined></DownloadOutlined> Primary Large</LNButton>
<LNButton Type="LNButton.BType.Dashed" Size="LNButton.BSize.Middle">Dashed Middle</LNButton>
<LNButton Type="LNButton.BType.Link" Size="LNButton.BSize.Small">Link Small</LNButton>

<div class="box">
    <h3>类型和形状</h3>
    <div>
        <LNButton Type="LNButton.BType.Primary">Primary</LNButton>
        <LNButton>Default</LNButton>
        <LNButton Type="LNButton.BType.Dashed">Dashed</LNButton>
        <LNButton Type="LNButton.BType.Link">Link</LNButton>

        <LNButton Type="LNButton.BType.Primary" Shape="@LNButton.BShape.Circle">圆</LNButton>
        <LNButton Type="LNButton.BType.Primary" Shape="@LNButton.BShape.Round">Round</LNButton>

    </div>
</div>

<div class="box">
    <h3>四种状态</h3>
    <div style="padding: 5px; background-color: #ccc">
        <LNButton Type="LNButton.BType.Primary" Danger="true">危险</LNButton>
        <LNButton Type="LNButton.BType.Primary" Disabled="true">禁用</LNButton>
        <LNButton Type="LNButton.BType.Primary" Loading="@(_num%2==0)">加载中</LNButton>
        <LNButton Type="LNButton.BType.Primary" Ghost="true">幽灵</LNButton>
    </div>
</div>

<LNButton Type="LNButton.BType.Primary" OnClickCallback="@((btn)=> { btn.BeginLoading(0,1000*5); })">点击加载中,5秒后恢复</LNButton>

<div class="box">
    <h3>图标按钮-通过图标属性</h3>
    <div>
        <LNButton Type="LNButton.BType.Primary">
            <Icon>
                <DownloadOutlined></DownloadOutlined>
            </Icon>
            <ChildContent>
                图标加文字
            </ChildContent>
        </LNButton>
        <LNButton Type="LNButton.BType.Primary">
            <Icon>
                <DownloadOutlined></DownloadOutlined>
            </Icon>
        </LNButton>
    </div>
    <h3>图标按钮-通过ChildContent</h3>
    <div>
        <LNButton Type="LNButton.BType.Primary"><DownloadOutlined></DownloadOutlined> 图标加文字</LNButton>
        <LNButton Type="LNButton.BType.Primary"><DownloadOutlined></DownloadOutlined></LNButton>
    </div>
    <p>二者不同之处在于，通过属性设置的图标会添加 ant-btn-icon-only 样式</p>
</div>

<div class="box">
    <h3>按钮尺寸</h3>
    <div>
        <LNButton Type="LNButton.BType.Primary" Size="@LNButton.BSize.Large">Large</LNButton>
        <LNButton Type="LNButton.BType.Primary" Size="@LNButton.BSize.Middle">Middle</LNButton>
        <LNButton Type="LNButton.BType.Primary" Size="@LNButton.BSize.Small">Small</LNButton>
    </div>
</div>

<div class="box">
    <h3>块状按钮</h3>
    <div>
        <LNButton Type="LNButton.BType.Primary" Block="true">Primary</LNButton>
        <LNButton Block="true">Default</LNButton>
        <LNButton Type="@LNButton.BType.Dashed" Block="true">Dashed</LNButton>
        <LNButton Type="@LNButton.BType.Link" Block="true">Link</LNButton>
    </div>
</div>

<div class="box">
    <h3>点击事件</h3>
    <div> 
        <LNButton Type="LNButton.BType.Primary" OnClickCallback="OnButtonClick">点击加1</LNButton>
        <span>点击次数：@_num</span>
    </div>
</div>

@code
{
    private int _num;

    private void OnButtonClick(LNButton _)
    {
        _num += 1;
        this.StateHasChanged();
    }
}
 