@inherits LuanNiao.Blazor.Core.LNBCBase
 
<div id="@($"main_{IdentityKey}")">
    @if (Trigger == TriggerType.ContextMenu)
    {

        if (this.ContextFrame == null)
        {
            <div class="ln-site-dropdown-context-menu ant-dropdown-trigger" style="background: #f7f7f7;color: #777;text-align: center;height: 200px;line-height: 200px;">
                @ChildContent
            </div>
        }
        else
        {
            @ContextFrame
        }
    }
    else if (Theme == DropdownTheme.Button)
    {
        <button type="button" class="@ClassName"
                style="@CStyle" id="@($"btn_{IdentityKey}")">
            @ChildContent
        </button>
    }
    else if (Theme == DropdownTheme.HrefByA)
    {
        <a class="@ClassName"
           style="@CStyle"
           onClick="LuanNiaoBlazor.BlockClickEvent()" id="@($"btn_{IdentityKey}")">
            @ChildContent
        </a>
    }


    <div style="position: fixed;z-index: 3;top: 0px;left: 0px;width: 100%;">
        <div>
            <div class="@_hideDivClassNameStr" style="@_hideSubMenuDivStyleStr" id="@($"hideDiv_{IdentityKey}")">
                @Overlay
            </div>
        </div>
    </div>
</div>


