@inherits LuanNiao.Blazor.Core.LNBCBase

@namespace LuanNiao.Blazor.Component.Antd

@using LuanNiao.Blazor.Component.Antd.Icons
<div>
    <div class="ant-message">
        <span>
            @{
                lock (MessageInstance.Messages)
                {
                    foreach (Message.MessageItem item in MessageInstance.Messages)
                    {
                        <div class="@item.ClassName">
                            <div class="ant-message-notice-content">
                                <div class="@item.MessageTypeClassName">
                                    @if (item.Icon == null)
                                    {
                                        @switch (item.MessageType)
                                        {
                                            case Message.MessageItemType.Success:
                                                <CheckCircleFilled></CheckCircleFilled>
                                                break;
                                            case Message.MessageItemType.Error:
                                                <CloseCircleFilled></CloseCircleFilled>
                                                break;
                                            case Message.MessageItemType.Info:
                                                <InfoCircleFilled></InfoCircleFilled>
                                                break;
                                            case Message.MessageItemType.Warning:
                                                <WarningFilled></WarningFilled>
                                                break;
                                            case Message.MessageItemType.Loading:
                                                <LoadingOutlined Spin="true"></LoadingOutlined>
                                                break;
                                        }
                                    }
                                    else
                                    {
                                        @item.Icon
                                    }

                                    <span>
                                        @if (item.Content == null)
                                        {
                                            @item.Text
                                        }
                                        else 
                                        {
                                            @item.Content
                                        }
                                    </span>
                                </div>
                            </div>
                        </div>
                    }
                }
            }

        </span>
    </div>
</div>
