@inherits LuanNiao.Blazor.Core.LNBCBase

@if (ChildContent == null)
{
    @if (Dot)
    {
        <span class="ant-badge ant-badge-status ant-badge-not-a-wrapper">
            <span class="@_onlyDotClassName" style="@CStyle"></span>
            <span class="ant-badge-status-text">@Text</span>
        </span>
    }
    else
    {
        <span class="@ClassName" style="@CStyle">
            <sup data-show="true" class="ant-scroll-number ant-badge-count" title="@((string.IsNullOrWhiteSpace(Title)?_count.ToString():Title))">
                @_count
            </sup>
        </span>
    }
}
else
{
    <span class="@ClassName" style="@CStyle">
        @ChildContent
        @if (ShowZero || (_countStrList.Count != 0 && !_countStrList[0].Equals("0")))
        {
            @if (Dot)
            {
                <sup data-show="true" class="ant-scroll-number ant-badge-dot"></sup>
            }
            else
            {
                <sup data-show="true" class="ant-scroll-number ant-badge-count ant-badge-multiple-words" title="@((string.IsNullOrWhiteSpace(Title)?_count.ToString():Title))">
                    @_count
                </sup>
            }
        }
    </span>
}

@*
    @if (_overflowed)
    {
        @(string.Join("",_countStrList))
    }
    else
    {
        @foreach (var item in _countStrList)
        {
            <span class="ant-scroll-number-only" style="margin: 0px -2px 0px -2px;transition: none 0s ease 0s;transform: translateY(-1@(item)00%);">
                <p class="ant-scroll-number-only-unit">0</p>
                <p class="ant-scroll-number-only-unit">1</p>
                <p class="ant-scroll-number-only-unit">2</p>
                <p class="ant-scroll-number-only-unit">3</p>
                <p class="ant-scroll-number-only-unit">4</p>
                <p class="ant-scroll-number-only-unit">5</p>
                <p class="ant-scroll-number-only-unit">6</p>
                <p class="ant-scroll-number-only-unit">7</p>
                <p class="ant-scroll-number-only-unit">8</p>
                <p class="ant-scroll-number-only-unit">9</p>
                <p class="ant-scroll-number-only-unit">0</p>
                <p class="ant-scroll-number-only-unit">1</p>
                <p class="ant-scroll-number-only-unit">2</p>
                <p class="ant-scroll-number-only-unit">3</p>
                <p class="ant-scroll-number-only-unit">4</p>
                <p class="ant-scroll-number-only-unit">5</p>
                <p class="ant-scroll-number-only-unit">6</p>
                <p class="ant-scroll-number-only-unit">7</p>
                <p class="ant-scroll-number-only-unit">8</p>
                <p class="ant-scroll-number-only-unit">9</p>
                <p class="ant-scroll-number-only-unit">0</p>
                <p class="ant-scroll-number-only-unit">1</p>
                <p class="ant-scroll-number-only-unit">2</p>
                <p class="ant-scroll-number-only-unit">3</p>
                <p class="ant-scroll-number-only-unit">4</p>
                <p class="ant-scroll-number-only-unit">5</p>
                <p class="ant-scroll-number-only-unit">6</p>
                <p class="ant-scroll-number-only-unit">7</p>
                <p class="ant-scroll-number-only-unit">8</p>
                <p class="ant-scroll-number-only-unit">9</p>
            </span>
        }
    }*@
