@typeparam TItem
@inherits LuanNiao.Blazor.Core.LNBCBase
@using Microsoft.AspNetCore.Components.Web

<div class="@ClassName" style="@CStyle">
    @if (Header != null)
    {
        <div class="@_headerClassName">@Header</div>
    }
    <div class="@_spinLoadingClassName">
        <div class="@_spinContainerClassName">
            <ul class="ant-list-items">
                @if (DataSource == null || DataSource.Count == 0)
                {
                    if (string.IsNullOrWhiteSpace(EmptyText))
                    {
                        EmptyText = "no data";
                    }
                    <li class="@_listItemClassName">@EmptyText</li>
                }
                else
                {
                    @foreach (var item in DataSource)
                    {
                        <li class="@_listItemClassName" @onclick="@(e => OnClickHandler(item))">@Item(item)</li>
                    }
                }
            </ul>
        </div>
    </div>
    @if (Footer != null)
    {
        <div class="@_footerClassName">@Footer</div>
    }
</div>
