@inherits LuanNiao.Blazor.Core.LNBCBase
@using Microsoft.AspNetCore.Components.Web

<div class="@ClassName" style="@CStyle">
    @if (Header != null)
    {
        <div class="@_headerClassName">
            @Header
        </div>
    }
    <div class="@_spinLoadingClassName">
        <div class="@_spinContainerClassName">
            <ul class="ant-list-items">
                @if (Items != null)
                {
                    @Items
                }
                else
                {
                    @ChildContent
                }
            </ul>
        </div>
    </div>
    @if (Footer != null)
    {
        <div class="@_footerClassName">
            @Footer
        </div>
    }
</div>
