@inherits LuanNiao.Blazor.Core.LNBCBase
@using Microsoft.AspNetCore.Components.Web

<li class="@_listItemClassName">@ChildContent</li>

@*@{
        RenderFragment mainContent =
            @<div>
                @if (MetaContent == null)
                {
                    @ChildContent
                }
                else
                {
                    @MetaContent
                    @if (Content != null)
                    {
                        <div>@Content</div>
                    }
                    @if (Actions != null)
                    {
                        <ul class="@_listItemActionClassName">
                            @foreach (var a in Actions)
                            {
                                @a
                            }
                        </ul>
                    }
                }
            </div>;
    }

    <li class="@_listItemClassName">
        @if (Extra == null)
        {
            @if (MetaContent == null)
            {
                @ChildContent
            }
            else
            {
                @MetaContent
                @if (Content != null)
                {
                    <div>@Content</div>
                }
                @if (Actions != null)
                {
                    <ul class="@_listItemActionClassName">
                        @foreach (var a in Actions)
                        {
                            @a
                        }
                    </ul>
                }
            }
        }
        else
        {
            <div class="@_listItemMainClassName">
                @if (MetaContent == null)
                {
                    @ChildContent
                }
                else
                {
                    @MetaContent
                    @if (Content != null)
                    {
                        <div>@Content</div>
                    }
                    @if (Actions != null)
                    {
                        <ul class="@_listItemActionClassName">
                            @foreach (var a in Actions)
                            {
                                @a
                            }
                        </ul>
                    }
                }
            </div>
            <ul class="@_listItemExtraClassName">
                @Extra
            </ul>
        }
    </li>*@
