@inherits LuanNiao.Blazor.Component.Antd.Typography.Common.TypographyBase
@using LuanNiao.Blazor.Component.Antd.Icons
@using  LuanNiao.Blazor.Component.Antd.Input




    <div class="@ClassName" style="@CStyle" id="@($"paragraph_{IdentityKey}")">
        @if (Editable)
        {
            if (_isClick)
            {
                <Input Size=" InputSize.Default" Placeholder="" DefaultValue="@ChildText" OnChange="OnChang" OnPressEnter="OnEnter" />
            }
            else { 
                @ChildText
            }
        }
        else
        {
            @ChildContent
        }

        @if (Copyable)
        {
            <div role="button" tabindex="0"
                 class="ant-typography-copy"
                 aria-label="copy"
                 style="border: 0px; background: transparent; padding: 0px; line-height: inherit; display: @(_showOkBtn?"none":"inline-block");"
                 id="@($"LNParagraph_copyImage{IdentityKey}")">
                @if (Icon == null)
                {
                    <CopyOutlined />
                }
                else
                {
                    @Icon
                }
            </div>

            <div role="button" tabindex="0" class="ant-typography-copy ant-typography-copy-success"
                 style="border: 0px; background: transparent; padding: 0px; line-height: inherit; display: @(!_showOkBtn?"none":"inline-block");">
                <CheckOutlined />
            </div>
        }



    </div>
@code{


    private void OnChang(string msg)
    {

    }

    private void OnEnter(string msg)
    {
        _isClick = false;
        this.ChildText  =  msg;
        this.Flush();
    }

}