@inherits LuanNiao.Blazor.Core.LNBCBase

@using Microsoft.AspNetCore.Components.Web
@using static LuanNiao.Blazor.Core.Translater

<div class="ant-picker-month-panel">
    <div class="ant-picker-header">
        <button type="button" tabindex="-1" class="ant-picker-header-super-prev-btn" @onclick="PrevBtnClick">
            <span class="ant-picker-super-prev-icon"></span>
        </button>
        <div class="ant-picker-header-view">
            <button type="button" class="ant-picker-decade-btn" @onclick="OnTitleClicked">@CurrentYear</button>
        </div>
        <button type="button" tabindex="-1" class="ant-picker-header-super-next-btn" @onclick="NextBtnClick">
            <span class="ant-picker-super-next-icon"></span>
        </button>
    </div>
    <div class="ant-picker-body">
        <table class="ant-picker-content">
            <tbody>
                @for (int tr = 0, index = 1; tr < 4; tr++)
                {
                    <tr>
                        @for (int td = 0; td < 3; td++, index++)
                        {
                            var currentMonth = index;
                            <td title="@($"{CurrentYear}-{index:00}")" class="ant-picker-cell ant-picker-cell-in-view  @((CurrentMonth==index)?"ant-picker-cell-selected":null)">
                                <div style="-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;" class="ant-picker-cell-inner" @onclick="(e=> { ItemClicked(currentMonth); })">
                                    @switch (index)
                                    {
                                        case 1:
                                            @Tr(e => e == "en" ? "Jan" : "一月")
                                            break;
                                        case 2:
                                            @Tr(e => e == "en" ? "Feb" : "二月")
                                            break;
                                        case 3:
                                            @Tr(e => e == "en" ? "Mar" : "三月")
                                            break;
                                        case 4:
                                            @Tr(e => e == "en" ? "Apr" : "四月")
                                            break;
                                        case 5:
                                            @Tr(e => e == "en" ? "May" : "五月")
                                            break;
                                        case 6:
                                            @Tr(e => e == "en" ? "Jun" : "六月")
                                            break;
                                        case 7:
                                            @Tr(e => e == "en" ? "Jul" : "七月")
                                            break;
                                        case 8:
                                            @Tr(e => e == "en" ? "Aug" : "八月")
                                            break;
                                        case 9:
                                            @Tr(e => e == "en" ? "Sep" : "九月")
                                            break;
                                        case 10:
                                            @Tr(e => e == "en" ? "Oct" : "十月")
                                            break;
                                        case 11:
                                            @Tr(e => e == "en" ? "Nov" : "十一月")
                                            break;
                                        case 12:
                                            @Tr(e => e == "en" ? "Dec" : "十二月")
                                            break;
                                        default:
                                            break;
                                    }
                                </div>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>