@inherits LuanNiao.Blazor.Core.LNBCBase

@using Microsoft.AspNetCore.Components.Web
@using static LuanNiao.Blazor.Core.Translater
@using System.Globalization;

<div class="ant-picker-week-panel">
    <div class="ant-picker-header">
        <button type="button" tabindex="-1" class="ant-picker-header-super-prev-btn" @onclick="PrevYear">
            <span class="ant-picker-super-prev-icon"></span>
        </button>
        <button type="button" tabindex="-1" class="ant-picker-header-prev-btn" @onclick="PrevMonth">
            <span class="ant-picker-prev-icon"></span>
        </button>
        <div class="ant-picker-header-view">
            <button type="button" tabindex="-1" class="ant-picker-month-btn">
                @switch (CurrentMonth)
                {
                    case 1:
                        @Tr(e => e == "en" ? "Jan" : "一月")
                        break;
                    case 2:
                        @Tr(e => e == "en" ? "Feb" : "二月")
                        break;
                    case 3:
                        @Tr(e => e == "en" ? "Mar" : "三月")
                        break;
                    case 4:
                        @Tr(e => e == "en" ? "Apr" : "四月")
                        break;
                    case 5:
                        @Tr(e => e == "en" ? "May" : "五月")
                        break;
                    case 6:
                        @Tr(e => e == "en" ? "Jun" : "六月")
                        break;
                    case 7:
                        @Tr(e => e == "en" ? "Jul" : "七月")
                        break;
                    case 8:
                        @Tr(e => e == "en" ? "Aug" : "八月")
                        break;
                    case 9:
                        @Tr(e => e == "en" ? "Sep" : "九月")
                        break;
                    case 10:
                        @Tr(e => e == "en" ? "Oct" : "十月")
                        break;
                    case 11:
                        @Tr(e => e == "en" ? "Nov" : "十一月")
                        break;
                    case 12:
                        @Tr(e => e == "en" ? "Dec" : "十二月")
                        break;
                    default:
                        break;
                }
            </button>
            <button type="button" tabindex="-1" class="ant-picker-year-btn">
                @CurrentYear
            </button>
        </div>
        <button type="button" tabindex="-1" class="ant-picker-header-next-btn" @onclick="NextMonth">
            <span class="ant-picker-next-icon"></span>
        </button>
        <button type="button" tabindex="-1" class="ant-picker-header-super-next-btn" @onclick="NextYear">
            <span class="ant-picker-super-next-icon"></span>
        </button>
    </div>
    <div class="ant-picker-body">
        <table class="ant-picker-content">
            <thead style=" font-size: 8px; ">
                <tr>
                    <th></th>
                    <th>
                        @Tr(e => e == "en" ? "Su" : "周日")
                    </th>
                    <th>
                        @Tr(e => e == "en" ? "Mo" : "周一")
                    </th>
                    <th>
                        @Tr(e => e == "en" ? "Tu" : "周二")
                    </th>
                    <th>
                        @Tr(e => e == "en" ? "We" : "周三")
                    </th>
                    <th>
                        @Tr(e => e == "en" ? "Th" : "周四")
                    </th>
                    <th>
                        @Tr(e => e == "en" ? "Fr" : "周五")
                    </th>
                    <th>
                        @Tr(e => e == "en" ? "Sa" : "周六")
                    </th>
                </tr>
            </thead>
            <tbody>

                @{
                    var currentDt = new DateTime(CurrentYear, CurrentMonth, 1);
                    currentDt = currentDt.AddDays(0 - currentDt.DayOfWeek);
                    for (int rowIndeex = 0; rowIndeex < 6; rowIndeex++)
                    {
                        <tr class="ant-picker-week-panel-row">
                            <td class="ant-picker-cell ant-picker-cell-week">
                                @if (currentDt.Year < CurrentYear)
                                {
                                    @("1")
                                }
                                else
                                {
                                    @(_gc.GetWeekOfYear(currentDt, CalendarWeekRule.FirstDay, DayOfWeek.Sunday))
                                }

                            </td>

                            @for (int i = 0; i < 7; i++)
                            {
                                <td title="@($"{currentDt:yyyy-MM-dd}")" class="ant-picker-cell @((currentDt.Month==CurrentMonth?"ant-picker-cell-in-view":null))">
                                    <div class="ant-picker-cell-inner">@currentDt.Day</div>
                                </td>
                                currentDt = currentDt.AddDays(1);
                            }

                        </tr>
                    }

                }

            </tbody>
        </table>
    </div>
</div>