@inherits LuanNiao.Blazor.Core.LNBCBase
@using LuanNiao.Blazor.Component.Antd.Icons 



@if (string.IsNullOrWhiteSpace(Href))
{

    <button id="@($"lnButton_{IdentityKey}")" type="@_htmlType"
            class="@ClassName"
            disabled="@((Disabled ? "disabled" : null))"
           >
        @if (Loading)
        {
            <LoadingOutlined Spin="true"></LoadingOutlined>
        }
       
        @if (Icon != null)
        {
            @Icon
        }
        @if (ChildContent != null)
        {
            <span>@ChildContent</span>
        }
        @if (ChildContent == null && Icon == null)//fix the empty child case's style bug
        {
            <span></span>
        }

    </button>

}
else
{

    <a id="@($"lnButton_{IdentityKey}")" href="@Href" target="@Target"
       class="@ClassName"
       disabled="@((Disabled ? "disabled" : null))"
       >
        @if (Loading)
        {
            <LoadingOutlined Spin="true"></LoadingOutlined>
        }
     
        @if (Icon != null)
        {
            @Icon
        }
        @if (ChildContent != null)
        {
            <span>@ChildContent</span>
        }
        @if (ChildContent == null && Icon == null)//fix the empty child case's style bug
        {
            <span></span>
        }

    </a>
}