@page "/list"

@using LuanNiao.Blazor.Component.Antd.Avatar;
@using LuanNiao.Blazor.Component.Antd.List;
@using LuanNiao.Blazor.Component.Antd.Icons;

<h3>列表</h3>

<List>
    @foreach (var item in _items)
    {
        <ListItem>@item</ListItem>
    }
</List>

<br />
<br />

<p>如果包含header 或 footer，item列表 必须包含在 Items 标签内，如果没有 header和footer， Items 标签可以省略</p>

<List>
    @foreach (var student in _students)
    {
        <ListItem>
            <ListItemMeta>
                <Avatar>
                    <LNAvatar Src="@student.Avatar" Alt="@student.Name">
                        <Icon>
                            <UserOutlined></UserOutlined>
                        </Icon>
                    </LNAvatar>
                </Avatar>
                <Title>@student.Name</Title>
                <Description>@student.Description</Description>
            </ListItemMeta>
        </ListItem>
    }
</List>

<br />
<br />

<List @ref="_list">
    <Header>带 Header 和 Footer 的列表</Header>
    <Items>
        @foreach (var student in _students)
        {
            <ListItem>
                <ListItemMeta>
                    <Avatar>
                        <LNAvatar Src="@student.Avatar" Alt="@student.Name">
                            <Icon>
                                <UserOutlined></UserOutlined>
                            </Icon>
                        </LNAvatar>
                    </Avatar>
                    <Title>@student.Name</Title>
                    <Description>@student.Description</Description>
                </ListItemMeta>
            </ListItem>
        }
    </Items>
    <Footer>这是Footer</Footer>
</List>
<br />
<br />
<button @onclick="Refresh">使用StateHasChanged刷新</button>
<button @onclick="Refresh2">使用Flush刷新，需要绑定组件</button>

@code {
    List<string> _items = new List<string> { "item1", "item2", "item3" };

    private List _list;

    List<Student> _students = new List<Student>
{
        new Student {Name="张三", Description = "张三你好", Avatar = "https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"},
        new Student {Name="李四", Description = "李四你好", Avatar = "https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"},
        new Student {Name="王五", Description = "王五你好", Avatar = "https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"},
    };

    void Refresh()
    {
        foreach (var student in _students)
        {
            student.Name += "_Changed";
        }
        StateHasChanged();
    }

    void Refresh2()
    {
        foreach (var student in _students)
        {
            student.Name += "_flush";
        }
        _list.Flush();
    }

    class Student
    {
        public string Name { get; set; }

        public string Avatar { get; set; }

        public string Description { get; set; }
    }
}
