@inherits LuanNiao.Blazor.Core.LNBCBase

<CascadingValue Value="this">
    <div class="@ClassName" style="@CStyle">
        @if (Title != null || Extra != null)
        {
            <div class="ant-card-head">
                <div class="ant-card-head-wrapper">
                    <div class="ant-card-head-title">
                        @Title
                    </div>
                    @if (Extra != null)
                    {
                        <div class="ant-card-extra">
                            @Extra
                        </div>
                    }
                </div> 
            </div>
        }

        @if (Cover != null)
        {
            <div class="ant-card-cover">
                @Cover
            </div>
        }
        <div class="ant-card-body">
            @ChildContent
            @if (MetaAvatar != null || MetaDescription != null || MetaTitle != null)
            {
                <div class="@MetaClassName" style="@MetaStyle">
                    @if (MetaAvatar != null)
                    {
                        <div class="ant-card-meta-avatar">@MetaTitle</div>
                    }
                    <div class="ant-card-meta-detail">

                        @if (MetaTitle != null)
                        {
                            <div class="ant-card-meta-title">@MetaTitle</div>
                        }
                        @if (MetaDescription != null)
                        {
                            <div class="ant-card-meta-description">@MetaDescription</div>
                        }
                    </div>
                </div>
            }
        </div>
        @if (Actions != null)
        {
            <ul class="ant-card-actions">
                @Actions
            </ul>
        }
    </div>
</CascadingValue>