@inherits LuanNiao.Blazor.Core.LNBCBase

<CascadingValue Value="this">
    <div class="@ClassName" style="@CStyle">
        @if (Title != null || Extra != null)
        {
            <div class="ant-card-head">
                <div class="ant-card-head-wrapper">
                    <div class="ant-card-head-title">
                        @Title
                    </div>
                    @if (Extra != null)
                    {
                        <div class="ant-card-extra">
                            @Extra
                        </div>
                    }
                </div>
                <div class="ant-tabs ant-tabs-top ant-card-head-tabs ant-tabs-large ant-tabs-line">
                    <div role="tablist" class="ant-tabs-bar ant-tabs-top-bar ant-tabs-large-bar" tabindex="0"><div class="ant-tabs-nav-container"><span unselectable="unselectable" class="ant-tabs-tab-prev ant-tabs-tab-btn-disabled"><span class="ant-tabs-tab-prev-icon"><span role="img" aria-label="left" class="anticon anticon-left ant-tabs-tab-prev-icon-target"><svg viewBox="64 64 896 896" focusable="false" class="" data-icon="left" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M724 218.3V141c0-6.7-7.7-10.4-12.9-6.3L260.3 486.8a31.86 31.86 0 000 50.3l450.8 352.1c5.3 4.1 12.9.4 12.9-6.3v-77.3c0-4.9-2.3-9.6-6.1-12.6l-360-281 360-281.1c3.8-3 6.1-7.7 6.1-12.6z"></path></svg></span></span></span><span unselectable="unselectable" class="ant-tabs-tab-next ant-tabs-tab-btn-disabled"><span class="ant-tabs-tab-next-icon"><span role="img" aria-label="right" class="anticon anticon-right ant-tabs-tab-next-icon-target"><svg viewBox="64 64 896 896" focusable="false" class="" data-icon="right" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M765.7 486.8L314.9 134.7A7.97 7.97 0 00302 141v77.3c0 4.9 2.3 9.6 6.1 12.6l360 281.1-360 281.1c-3.9 3-6.1 7.7-6.1 12.6V883c0 6.7 7.7 10.4 12.9 6.3l450.8-352.1a31.96 31.96 0 000-50.4z"></path></svg></span></span></span><div class="ant-tabs-nav-wrap"><div class="ant-tabs-nav-scroll"><div class="ant-tabs-nav ant-tabs-nav-animated"><div><div role="tab" aria-disabled="false" aria-selected="true" class="ant-tabs-tab-active ant-tabs-tab">tab1</div><div role="tab" aria-disabled="false" aria-selected="false" class=" ant-tabs-tab">tab2</div></div><div class="ant-tabs-ink-bar ant-tabs-ink-bar-animated" style="display: block; transform: translate3d(0px, 0px, 0px); width: 33px;"></div></div></div></div></div></div><div tabindex="0" role="presentation" style="width: 0px; height: 0px; overflow: hidden; position: absolute;"></div><div class="ant-tabs-content ant-tabs-content-animated ant-tabs-top-content" style="margin-left: 0%;">
                        <div role="tabpanel" aria-hidden="false" class="ant-tabs-tabpane ant-tabs-tabpane-active"><div tabindex="0" role="presentation" style="width: 0px; height: 0px; overflow: hidden; position: absolute;"></div><div tabindex="0" role="presentation" style="width: 0px; height: 0px; overflow: hidden; position: absolute;"></div></div><div role="tabpanel" aria-hidden="true" class="ant-tabs-tabpane ant-tabs-tabpane-inactive"></div>\
                    </div>
                    <div tabindex="0" role="presentation" style="width: 0px; height: 0px; overflow: hidden; position: absolute;"></div>
                </div>
            </div>
        }

        @if (Cover != null)
        {
            <div class="ant-card-cover">
                @Cover
            </div>
        }
        <div class="ant-card-body">
            @ChildContent
            @if (MetaAvatar != null || MetaDescription != null || MetaTitle != null)
            {
                <div class="@MetaClassName" style="@MetaStyle">
                    @if (MetaAvatar != null)
                    {
                        <div class="ant-card-meta-avatar">@MetaTitle</div>
                    }
                    <div class="ant-card-meta-detail">

                        @if (MetaTitle != null)
                        {
                            <div class="ant-card-meta-title">@MetaTitle</div>
                        }
                        @if (MetaDescription != null)
                        {
                            <div class="ant-card-meta-description">@MetaDescription</div>
                        }
                    </div>
                </div>
            }
        </div>
        @if (Actions != null)
        {
            <ul class="ant-card-actions">
                @Actions
            </ul>
        }
    </div>
</CascadingValue>