@inherits LuanNiao.Blazor.Core.LNBCBase

<div class="@ClassName" style="@CStyle">
    <div class="ant-card-head">
        <div class="ant-card-head-wrapper">
            <div class="ant-card-head-title">
                @Title
            </div>
            @if (Extra != null)
            {
                <div class="ant-card-extra">
                    @Extra
                </div>
            }
        </div>
    </div>
    <div class="ant-card-body">
        @ChildContent
    </div>
    @if (Actions != null)
    {
        <ul class="ant-card-actions">
            @for (int i = 0; i < Actions.Count; i++)
            {
                <li style="@($"width:{Math.Round((float)100 / (float)Actions.Count,2)}%") " id="@($"actionLi_{IdentityKey}_{i}")">
                    <span>@Actions[i]</span>
                </li>
            }
        </ul>
    }
</div>